In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("../03/03_암발생자수.csv", encoding="cp949")
df

                24개 암종별  성별     연령별      2019         2019.1
0               24개 암종별  성별     연령별  발생자수 (명)  조발생률 (명/10만명)
1         모든 암(C00-C96)   계       계    254718          496.2
2         모든 암(C00-C96)   계    0-4세       406           21.3
3         모든 암(C00-C96)   계    5-9세       220            9.5
4         모든 암(C00-C96)   계  10-14세       300           13.0
...                 ...  ..     ...       ...            ...
1496  기타 암(Re. C00-C96)  여자  70-74세      1096          107.6
1497  기타 암(Re. C00-C96)  여자  75-79세      1357          146.3
1498  기타 암(Re. C00-C96)  여자  80-84세      1420          212.1
1499  기타 암(Re. C00-C96)  여자   85세이상      1273          243.6
1500  기타 암(Re. C00-C96)  여자    연령미상         -              -

[1501 rows x 5 columns]

In [ ]:
df.columns = ['암종별','성별','연령별','2019','2019.1']
df = df[(df['암종별'] == '모든 암(C00-C96)') & (df['연령별'] != '계') & 
(df['연령별'] != "연령미상")]
df

In [23]:
import numpy as np

In [ ]:
df['연령대'] = np.where(df['연령별'].isin(df['연령별'][0:8]), "30대이하",
                np.where(df['연령별'].isin(df['연령별'][8:12]), "40~50대",
                np.where(df['연령별'].isin(df['연령별'][12:16]), "60~70대", "80대이상")))
df

In [47]:
df['2019'] = df['2019'].astype('int')
df.info()
df2 = df.groupby(['연령대','성별']).sum()['2019']
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   54 non-null     int64
 1   암종별     54 non-null     object
 2   성별      54 non-null     object
 3   연령별     54 non-null     object
 4   2019    54 non-null     int32
 5   2019.1  54 non-null     object
 6   연령대     54 non-null     object
dtypes: int32(1), int64(1), object(5)
memory usage: 2.9+ KB

연령대     성별
30대이하   계      19246
        남자      6236
        여자     13010
40~50대  계      80701
        남자     33352
        여자     47349
60~70대  계     121230
        남자     76772
        여자     44458
80대이상   계      33538
        남자     17818
        여자     15720
Name: 2019, dtype: int32

In [48]:
df2 = df2.reset_index()
df2

       연령대  성별    2019
0    30대이하   계   19246
1    30대이하  남자    6236
2    30대이하  여자   13010
3   40~50대   계   80701
4   40~50대  남자   33352
5   40~50대  여자   47349
6   60~70대   계  121230
7   60~70대  남자   76772
8   60~70대  여자   44458
9    80대이상   계   33538
10   80대이상  남자   17818
11   80대이상  여자   15720